.App {
  text-align: center;
}
.main {
  vertical-align: top;;
  display: inline-block;
  margin: 70px;  
}
#text_area_2 {
	width: 18rem;
}

#text_area_1 {
  width: 7rem;
}

.menu-items-main {
  margin: 30px;
}
.card {
  display: inline-block;
}

.margin {
  margin: 60px;
  padding: 30px;
}
.inline-block {
  border: 1px solid black;
  display: inline-block;
  background-color: azure;
}
.margin_1 {
  margin: 80px;
  padding: 30px;
}

.button-span {
  margin: 20px;
  padding: 20px;
}

/* .selected_items {
  font: 100px solid;
} */
/* div {
  display: flex;
  justify-content: space-between;
} */
.beautify-label {
  margin-right: 1.2em;
}

.beautify-input {
  border: 0;
  border-bottom: 1px solid #dddd;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
